/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

label{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    text-align:center;
    width:60%;
    line-height: 26px;
    margin-bottom: 20px;
}

input{
    height:25px;
    flex: 0 0 200px;
    margin-left: 10px;
}
